body {
  background-image: url(https://thumbs.gfycat.com/PointlessIdealHyena-size_restricted.gif);
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#conteiner {
    width: auto;
    height: auto;
    background-color: hsl(220deg 100% 72%);
    border-radius: 25px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    box-shadow: 2.2px 4.3px 4.3px hsl(0deg 0% 0% / 0.43);
}

#number {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#buttoncod {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#buttondecod {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#box0 {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#resultado {
  display: none;
}
#codigo {
    display:none; 
}