body {
  background-image: url(https://thumbs.gfycat.com/PointlessIdealHyena-size_restricted.gif);
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  text-shadow: 2px 14px 4px #0000007a;

}
h3 {
  text-shadow: 2px 14px 4px #0000007a;
}
#conteiner {
  display: grid;
  padding: 20px;
  background-color: hsl(220deg 100% 72%);
  border-radius: 25px;
  box-shadow: 2.2px 4.3px 4.3px hsl(0deg 0% 0% / 43%);
  justify-items: center;
}

#numero {
  display: none;
  text-align: center;
  
}
#buttoncod {
  display: none;
  text-align: center;
  margin-top: 20px;
  
  
}
#buttondecod {
  display: none;
  text-align: center;
  margin-top: 20px;
 
  
}
#box0 {
  display: none;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;
}

#resultado {
  display: none;
  text-align: center;
  margin-top: 10%;
  
}

#box {
  justify-content: center;
  display: none;
  padding-top: 20px;
}
#msg {
  text-align: center;
}
#number {
  text-align: center;
  width: 50;
}
